.login {
    display: flex;
    justify-content: center;
}

.image {
    background-image: url('../assets/loginsignup/bg_cliq.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 38vw;
    bottom: 0;
    overflow: hidden;
}

.login-container {
    margin-top: 8vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: 6vw;
    width: 400px;
    position: relative;
}

.login-container img {
    width: 20%;
    margin-bottom: 3vw;
}

.login-container h1 {
    font-size: 50px;
    margin: 0;
}

.login-container p {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 4vw;
    font-size: 1vw;
    font-weight: 300;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    padding-left: 1vw;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    height: 2vw;
    border-radius: 20px;
    background-color: whitesmoke;
    font-size: 18px;
    padding-left: 15px;
}

.login-form button {
    width: 13vw;
    height: 3vw;
    border-radius: 20px;
    background-color: var(--dark-color);
    border: 0;
    color: white;
    font-size: 1.1vw;
}

.login-form button:hover {
    background-color: var(--dark-hover-color);
    cursor: pointer;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.3vw;
}

.form-actions p {
    margin-top: 1.3vw;
    font-weight: 400;
}

.form-actions p a {
    color: var(--primary-color);
}

@media only screen and (max-width: 1024px) {
    .login-container img {
      width: 30%;
    }
    
    .login-container {
        width: 300px;
    }

    .login-container h1 {
      font-size: 35px;
    }

    .login-container p {
        font-size: 1.5vw;
    }

    .login-form input {
        height: 2.5vw;
    }

    .login-form button {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .image {
        background-size: 100%;
        top: 0;
        left: 0;
        right: 38vw;
        bottom: 0;
    }
    
    .login-container img {
        width: 30%;
    }
    
    .login-container {
        margin-top: 15vw;
        margin-right: 4vw;
        width: 250px;
    }

    .login-container h1 {
        font-size: 30px;
    }

    .login-form input {
        height: 2.5vw;
    }

    .login-form button {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width: 430px) {
    .login {
        margin: 0;
        overflow: hidden;
    }

    .image {
        display: none;
    }
    
    .login-container img {
        width: 30%;
    }

    .login-container {
        margin-top: 40vw;
        margin-left: 0;
        width: 80%;
    }

    .login-container h1 {
        font-size: 10vw;
    }

    .login-container p {
        font-size: 3vw;
    }

    .login-form input {
        height: 5vw;
    }

    .login-form button {
        margin-top: 3vw;
        width: 23vw;
        height: 7vw;
        font-size: 4.5vw;
    }

}

@media only screen and (max-width: 376px) {
    .login-form input {
        height: 7vw;
    }

    .login-form button {
        margin-top: 3vw;
        width: 27vw;
        height: 8vw;
        font-size: 4.5vw;
    }
}